.categoryContainer{
    display: flex;
    gap: 1rem;
}

li{
    white-space: nowrap;
    position: relative;
}

.linkItem{
    color: #000;
}

.linkItem::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2.5px;
    background-color: #000;
    opacity: 0;
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
}
  
.menu{
    display: none;
}

.openMenu{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    font-size: 2rem;
    color: #000;
    right: 3.5rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}
.openMenu:active{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.menu:hover + .categoryContainer {
    opacity: 1;
    top: 4rem;
}

.menu:hover ~ .bgFilter{
    opacity: 1;
    top: 4rem;
}

@media screen and (min-width: 850px) {
    .linkItem:hover::before {
        opacity: 1;
        bottom: -10px;
    }
}

@media screen and (max-width: 850px) {
    .openMenu{
        display: flex;
    }
   .categoryContainer{
        flex-direction: column;
        align-items: center;
        background-color: #ffffffbd;
        position: fixed;
        top: -20rem;
        right: 0;
        padding: 5rem 0;
        width: 100%;
        opacity: 0;
        z-index: 100;
        transition: all ease-in-out .5s;
        -webkit-transition: all ease-in-out .5s;
        -moz-transition: all ease-in-out .5s;
        -ms-transition: all ease-in-out .5s;
        -o-transition: all ease-in-out .5s;
    }


    .bgFilter{
        background: linear-gradient(to top, #000000d5, #000000bc, #0000009c, #0000009c, transparent);
        position: fixed;
        top: 50rem;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 0;
        opacity: 0;
        transition: all ease-in-out .3s;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
    }
    .linkItem:focus::before {
        opacity: 1;
        bottom: -10px;
    }
    .linkItem{
        font-weight: 500;
        font-size: 1.1rem;
        color: #1e1e1e;
    }
}

body{
    overflow-x: hidden;
}


@keyframes show {
    0% {display: none}
    100% {display: block}
}