.categoryContainer{
    display: flex;
    gap: 1rem;
}

li{
    white-space: nowrap;
    position: relative;
}

.linkItem{
    color: #000;
    
}

.linkItem::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2.5px;
    background-color: #000;
    opacity: 0;
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
}
  
.back{
    display: none;
    color: #000;
    background-color: #9a9a9a;
    width: fit-content;
    padding: .5rem 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    transition: all ease-out .4s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    -webkit-transition: all ease-out .4s;
    -moz-transition: all ease-out .4s;
    -ms-transition: all ease-out .4s;
    -o-transition: all ease-out .4s;
    cursor: pointer;
}

.back:active{
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.menu{
    display: none;
}

.openMenu{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    font-size: 2rem;
    color: #000;
    right: 3.5rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}
.openMenu:active{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.menu:checked + .categoryContainer {
    opacity: 1;
    display: flex;
}

.menu:checked ~ .bgFilter{
    opacity: 1;
    display: block;
}

@media screen and (min-width: 850px) {
    .linkItem:hover::before {
        opacity: 1;
        bottom: -10px;
    }
}

@media screen and (max-width: 850px) {
    .back{
        display: block;
    }

    .openMenu{
        display: flex;
    }
   .categoryContainer{
        display: none;
        flex-direction: column;
        background-color: #ffffffbd;
        position: fixed;
        top: 4rem;
        right: 0;
        padding: 2rem 4rem 2rem 2rem;
        height: 100vh;
        width: 50%;
        opacity: 0;
        z-index: 100;
        transition: all ease-in-out .3s;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
    }

    .bgFilter{
        display: none;
        position: fixed;
        top: 4rem;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 0;
        opacity: 0;
        background-color: #00000080;
        transition: all ease-in-out .3s;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
    }
    .linkItem:focus::before {
        opacity: 1;
        bottom: -10px;
    }
}

body{
    overflow-x: hidden;
}