.container{
    background-color: #313131;
    padding: 1rem;
    margin: 2rem 4rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.textContainer{
    text-align: center;
}

.itemList{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e3e3e;
    margin: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}