.container{
    background-color: #313131;
    padding: 1rem;
    margin: 2rem 10rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

@media screen and (max-width: 760px) {
    .container{
        margin: 2rem 0;
    }
}

.titleContainer{
    padding: 1rem 0 2rem;
    text-align: center;
}