.background{
    background-color: #23232369;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    z-index: 300;
    background-color: #ffffffa4;
    backdrop-filter: blur(5px);
    position: relative;
    border-radius: 1rem;
    padding: 2rem 2rem;
    display: flex;
    gap: 4rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
}

.userInfo{
    background-color: #232323;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.user:first-child{
    font-size: 2rem;
    margin: 1rem 2rem;
}

.user:nth-child(2){
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

.user:last-child{
    margin: 1rem 2rem;
}

.back{
    color: #fff;
    font-weight: 800;
    background-color: #8a2be2;
    height: 1.5rem;
    border: none;
    width: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: .6rem;
    right: .6rem;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}

.back:hover{
    background-color: #c54545;
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

input{
    margin-bottom: 1rem;
    padding: 0 .7rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    height: 2rem;
    width: 13rem;
    border: none;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    outline: none;
    background-color: #ededed;
}

input::placeholder{
    font-size: 1.2rem;
    color: #555555a3;
}



.userBuy:first-child{
    color: #232323;
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem 0;
}

.userBuy:last-child{
    background-color: #232323;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.userBuyInfo{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    z-index: 1;
    position: relative;

}

.opacity{
    opacity: .5;
}

.loading{
    background-color: #23232369;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}