.navContainer{
    background-color: #ffffffbd;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.navItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2rem 10rem;
    height: 6rem;
}

.listContainer{
    display: flex;
    gap: 2rem;
}

.listItem{
    list-style-type: none;
}

@media screen and (max-width: 1000px) {
    .navItems{
        padding: 1.5rem 0;
    }
}