.navContainer{
    background-color: #fff;
}

.navItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2rem 10rem;
}

.listContainer{
    display: flex;
    gap: 2rem;
}

.listItem{
    list-style-type: none;
}