

.navContainer{
    width: 100vw;
}

.navItems{
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
}

.logo{
    max-width: 5rem;
    height: auto;
}

.listContainer{
    display: flex;
    gap: 2rem;
}

.listItem{
    list-style-type: none;
}