.item{
    margin: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.container:first-child{
    background-color: #fff;
    height: 277px;
    width: 16rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

.img{
    max-height: 100%;
    max-width: 100%;
    padding: 0.2rem;
}

.container:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-left: 1rem;
}

.container:last-child{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}

@media screen and (max-width: 1000px) {
    .item{
        margin: 2rem 0;
    }
}

@media screen and (max-width: 830px) {
    .item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container:last-child{
        grid-column: span 2;
        margin: 1rem 2rem 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .item{
        display: flex;
        flex-direction: column;
        border-bottom: 4px solid #505050;
    }
    .container{
        text-align: center;
    }
    .container:nth-child(2){
        margin-top: 2rem;
    }
    .container:last-child{
        margin: 2rem;
    }
}