.title{
    font-size: 1.3rem;
    color: tomato;
    font-weight: 500;
}

.img{
    width: 10rem;
    height: auto;
}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}